/.idea
7-main.py
0x03-python-data_structures/1-main.py
0x03-python-data_structures/2-main.py
0x03-python-data_structures/3-main.py
0x03-python-data_structures/4-main.py
0x03-python-data_structures/5-main.py
0x03-python-data_structures/8-main.py
0x03-python-data_structures/10-main.py
